button{
    color: #353A47;
    border-radius: 0.8rem;
    background-color: #87BCDE;
    cursor: pointer;
    padding: 15px;
}

button:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}